<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quien soy</title>
</head>
<body>
    <h1>Bienvenidos a mi aplicación, mi nombre es Mariano Ezequiel Fernández</h1>
    <img src="./assets/yo.jpg" width="200" height="200" />
    <h2>Estuve pensandolo sobre mi juego y al día de hoy no se me ocurrió nada super original <br> y que no sea muy rebuscado más que un simple Buscaminas ¿Está bien? igual de acá al final del tp agrego otro juego si es necesario.</h2>

</body>
</html>